/* Calculator.css */

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .calculator {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
  }
  
  .btn-rounded {
    border-radius: 50px;
    font-size: 20px;
  }
  
  .btn-dark {
    background-color: #000;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #ff4444;
    color: #fff;
  }
  
  .btn-success {
    background-color: #5cb85c;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffbb33;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #808080;
    color: #fff;
  }
  